@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
  text-align: center;
  padding: 50px;
  background: linear-gradient(to right, #333, #555); /* Darker gradient for sleek look */
  color: #fff;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 100vh;
}

.heading {
  font-size: 3em;
  margin-bottom: 20px;
  animation: fadeIn 1s ease-out;
}

.subheading {
  font-size: 1.5em;
}

.profile-pic {
  width: 275px;
  height: 250px;
  border-radius: 50%;
  margin-top: 100px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.profile-pic:hover {
  transform: rotate(360deg) translateY(-10px); /* Spins and moves up */
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.6); /* Emits glowing shadow */
}

.section {
  margin-bottom: 40px;
}

.section-heading {
  font-size: 2em;
  margin-bottom: 20px;
}

.project {
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.contact-button {
  background-color: #444; /* Darker button background */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-button:hover {
  background-color: #666; /* Slightly lighter on hover */
}
