@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.container {
  text-align: center;
  padding-top: 150px;
  background: linear-gradient(135deg, #2c3e50, #1a252f);
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 100vh;
}

.heading {
  font-size: 3em;
  margin-bottom: 20px;
  color: #f1f1f1;
  font-family: 'Times New Roman', Times, serif;
}

.profileContainer {
  position: relative;
  width: 275px;
  height: 250px;
  margin: 0 auto;
}

.profile-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 275px;
  height: 250px;
  border-radius: 50%;
  transition: transform 1s ease, opacity 1s ease;
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.6);
  z-index: 2;
}

.profileContainer:hover .profile-pic {
  transform: rotate(720deg) translateY(-300px);
  opacity: 0;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 1s ease 0.3s;
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.6);
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.profileContainer:hover .logo {
  opacity: 1;
}

.profile-pic:hover {
  transform: rotate(360deg) translateY(-10px);
  /* Spins and moves up */
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.6);
  /* Emits glowing shadow */
}

.section {
  margin-bottom: 40px;
}

.section-heading {
  font-size: 2em;
  margin-bottom: 20px;
  color: #f1f1f1;
}

.project {
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.terminal {
  background-color: #012456;
  color: #1E90FF;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  max-width: 1000px;
  margin: 40px auto 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #1E90FF;
  border: 1px solid #012456;
  white-space: pre-wrap;
  animation: fadeIn 1s ease-in-out;
}

.terminal code {
  font-size: 1em;
  line-height: 1.6;
}

.blink {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 2em;
    padding-top: 50px;
  }

  .subheading {
    font-size: 1em;
    white-space: normal;
    /* Allow wrapping */
    word-wrap: break-word;
    /* Break long words if needed */
    
  }

  .profile-pic {
    margin-top: 50px;
    box-shadow: none;
  }

  .profile-pic:hover{
    box-shadow: none;
  }

  .logo {
    margin-top: 50px;
    box-shadow: none;
  }

  .terminal {
    width: 300px;
  }

  .terminal code {
    font-size: 0.5em;
    line-height: 1.6;
    white-space: normal;
    /* Allow wrapping */
    word-wrap: break-word;
  }
}