/* Projects.module.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.projects-container {
  padding: 100px;
  background: linear-gradient(135deg, #2c3e50, #1a252f);
  font-family: 'Roboto', sans-serif;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-height: 100vh; /* 👈 ensures full-screen height */
}

.projects-heading {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

@keyframes slideIn {
  from {
      transform: translateX(100px);
      opacity: 0;
  }
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

.project-card {
  /* background: #444; */
  background: linear-gradient(135deg,  #1a2539,#2c3e50);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: slideIn 1s ease-out;
  font-family: 'Times New Roman', Times, serif;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.project-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #ffd700;
}

.project-description {
  font-size: 1em;
  color: #ddd;
  animation: slideIn 1s ease-out;
}

@media (max-width: 768px) {
  .projects-heading{
    margin-top: 150px;
  }
  .projects-grid {
    grid-template-columns: 1fr;
  }
  .project-title {
    font-size: 1.2em;
  }
  .project-description {
    font-size: 0.9em;
  }
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.project-link:hover {
  background-color: #555;
}

.github-link-container {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background: linear-gradient(135deg,  #1a2539,#2c3e50);
  border-radius: 10px;
  animation: slideIn 1s ease-out;
  font-family: 'Times New Roman', Times, serif;
}
