@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  .nav a {
    margin: 10px 0;
  }
}

.header {
  background: linear-gradient(135deg, #2c3e50, #1a252f);
  padding: 5px; /* Increased padding for better spacing */
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
    color: #fff; /* White text color */
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    position: fixed; /* Fix the header at the top */
    width: 100%; /* Make sure it spans the full width of the page */
    top: 0; /* Position it at the top */
    z-index: 1000; /* Ensure it stays above other content */
}

  
  .header:hover {
    background-color: #333; /* Darker color on hover */
  }
  
  .nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .nav a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
    position: relative;
    color: #fff; /* White text color */
  }
  
  .nav a:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }
  
  .nav a:hover:before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .nav a:hover {
    color: #bbb; /* Light grey on hover */
  }
  